:root {
  --color-main: #a5e378;
  --color-main-dark: #6ecb2a;
  --color-main-light: #d4f2be;

  --color-screen: #a5e378;
  --color-screen-dark: #6ecb2a;
  --color-screen-light: #d4f2be;

  --color-break: #82ccdd;
  --color-break-dark: #2e92a9;
  --color-break-light: #c5e7ef;

  --color-grey-light: #444;
  --color-grey-dark: #272727;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-main);
  font-family: 'Inter', sans-serif;
}

header {
  /* background-color: var(--color-main-light); */
  border-bottom: 0.4rem solid var(--color-main-dark);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .name {
  font-size: 4rem;
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: -0.1rem;
  color: var(--color-grey-light);
}
header .btn {
  display: flex;
  transition: transform 0.2s;
  border: none;
}

header .btn:active {
  transform: rotate(180deg);
}

.settings {
  position: absolute;
  height: 45rem;
  width: 32rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-grey-light);
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--color-main-light);
  border: 2px solid var(--color-grey-light);
  border-radius: 0.2rem;
  top: 6.5rem;
  right: 3.5rem;
  z-index: 100;
}

.hidden {
  display: none;
}

.settings__form {
  display: flex;
  flex-direction: column;
}

.settings h4 {
  align-self: center;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.settings span {
  font-size: 2.5rem;
  font-weight: 300;
}
.settings__input {
  align-self: stretch;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.2rem;
  border-radius: 0.2rem;
  background-color: var(--color-main);
  outline: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.settings__input:hover {
  opacity: 1;
}

.settings__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--color-grey-light);
}
.settings__input::-moz-range-thumb {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--color-grey-light);
}

.settings__sound {
  padding: 2rem 0;
}
.settings__sound-drop {
  margin-left: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  color: inherit;
  width: 9rem;
  padding: 0.6rem;
  background-color: var(--color-main);
  border: 1px solid var(--color-grey-light);
  border-radius: 0.2rem;
}

.settings__btn {
  align-self: center;
  border: 0.2rem solid var(--color-grey-light);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: 600;
  background-color: var(--color-main-dark);
  padding: 1rem 2.5rem;
  border-radius: 0.2rem;
  transition: all 0.2s;
}

.settings__btn:hover {
  background-color: var(--color-main);
  color: var(--color-grey-dark);
}
.settings__btn:active {
  transform: translateY(1px);
}

/*** TIMER ***/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  margin-top: 5rem;
  height: 46rem;
  width: 46rem;
  background-color: var(--color-main);
  border: 0.5rem solid var(--color-main-light);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  position: absolute;
  height: 60rem;
  width: 60rem;
  color: var(--color-main-dark);
  stroke-dashoffset: 0;
  stroke-dasharray: 1207;
  transform: rotate(-90deg);
  z-index: -1;
  transition: stroke-dashoffset 0.4s ease-out;
}

.timer__time {
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  font-size: 7rem;
  color: var(--color-grey-light);
}

.timer__buttons {
  margin-top: 3rem;
  display: flex;
}

.timer__button {
  padding: 0 2.5rem;
  transition: transform 0.2s;
}
.timer__button:active {
  transform: translateY(0.2rem);
}

.info {
  font-size: 2rem;
  line-height: 1.5;
  width: 60ch;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  color: var(--color-grey-dark);
  margin-top: 6rem;
  background-color: var(--color-main-light);
  border-bottom: 0.4rem solid var(--color-main-dark);
}

p {
  margin-bottom: 1rem;
}
.info span {
  font-weight: 600;
  font-size: 2.2rem;
}
/******* BUTTONS *******/

.btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  background-color: inherit;
}

.btn-icon {
  height: 4.2rem;
  width: 4.2rem;
  color: var(--color-grey-dark);
  opacity: 0.8;
  transition: opacity 0.1s;
}
.btn:hover .btn-icon,
.btn:active .btn-icon {
  opacity: 1;
}
